<!doctype html>

<html lang="en" ng-app="spexy">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spexy</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css" type="text/css">
    <link rel="stylesheet" href="css/styles.css">
     <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/animate.css" type="text/css">
    <script src="js/jquery.min.js" type="text/javascript">
</script>
    <script src="js/wow.min.js" type="text/javascript">
</script>
    <script type="text/javascript">
new WOW().init();
    </script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>
    <script type="text/javascript" src="js/angular.min.js">
</script>
    <script src="js/angular-chart.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js" type="text/javascript">
</script>
    <script type="text/javascript" src="js/app.js">
</script>
<script src="/socket.io/socket.io.js"></script>


    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body ng-controller="DashController as dashCtrl">
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title headTitle">SPEXY</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search" />
              <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
          </div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <a href="/signout"><li class="mdl-menu__item">Sign Out</li></a>
          </ul>
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <img src="images/SpexyLogo.png" class="demo-avatar">
          <div class="demo-avatar-dropdown">
            <span>Dell XPS 15</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons">arrow_drop_down</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <button class="mdl-menu__item">Lenovo B155</button>
              <button class="mdl-menu__item">Home_PC</button>
              <button class="mdl-menu__item">Add another device...</button>
            </ul>
          </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href="" ng-click="screen=0;" ng-class="screen==0 ? 'navActive' : ''"><i class="mdl-color-text--blue-grey-400 material-icons">home</i>Home</a>
          <a class="mdl-navigation__link" href="#" ng-click="screen=1;"><i class="mdl-color-text--blue-grey-400 material-icons">report</i>Processes</a>
          <a class="mdl-navigation__link" href="" ng-click="screen=2;"><i class="mdl-color-text--blue-grey-400 material-icons">settings</i>Settings</a>
          
          <!--<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">delete</i>Trash</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">forum</i>Forums</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">flag</i>Updates</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">local_offer</i>Promos</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">shopping_cart</i>Purchases</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">people</i>Social</a>-->
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">help_outline</i></a>
        </nav>
      </div>
      
      
      <main class="mdl-layout__content mdl-color--grey-100" >
        <div class="mdl-grid demo-content" ng-show="screen==0">
          <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid sideTitleMargin" ng-controller="StorageCtrl">
	          <h3 class="dashTitle">STORAGE</h3>
            	<div class="mdl-cell--3-col storageChart">
	              <canvas id="doughnut" class="chart chart-doughnut"
					  chart-data="data0" chart-labels="labels" colours="colours">
					</canvas> 
					<br>
					<p>{{mtpoint0}}</p>
					<p>{{total0}}</p>
            	</div>
            	<div class="mdl-cell--3-col storageChart">
	              <canvas id="doughnut" class="chart chart-doughnut"
					  chart-data="data1" chart-labels="labels">
					</canvas> 
					<br>
					<p>{{mtpoint1}}</p>
					<p>{{total1}}</p>
            	</div>
            	<div class="mdl-cell--3-col storageChart">
	              <canvas id="doughnut" class="chart chart-doughnut"
					  chart-data="data2" chart-labels="labels">
					</canvas> 
					<br>
					<p>{{mtpoint2}}</p>
					<p>{{total2}}</p>
            	</div>
            	<div class="mdl-cell--3-col storageChart">
	              <canvas id="doughnut" class="chart chart-doughnut"
					  chart-data="data3" chart-labels="labels">
					</canvas> 
					<br>
					<p>{{mtpoint3}}</p>
					<p>{{total3}}</p>
            	</div>
            	
	                       
          </div>
          <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col mdl-grid" ng-controller="ProcCtrl as pctrl">
	        <h3 class="dashTitle">PROCESSOR</h3>
	        <h4>{{pctrl.cpuName}}</h4>
	        <div class="mdl-grid mdl-cell mdl-cell--12-col">
		        <div class="mdl-cell mdl-cell--3-col">
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cpu0">
					  <input type="checkbox" id="cpu0" class="mdl-checkbox__input" ng-model="cpu0check" ng-click="pctrl.updateData()" checked>
					  <span class="mdl-checkbox__label" ng-click="updateData()">CPU #0</span>
					</label>
		        </div>
		        <div class="mdl-cell mdl-cell--3-col">
	
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cpu1">
					  <input type="checkbox" id="cpu1" class="mdl-checkbox__input" ng-model="cpu1check" ng-click="pctrl.updateData()" checked>
					  <span class="mdl-checkbox__label">CPU #1</span>
					</label>
		        </div>
		        <div class="mdl-cell mdl-cell--3-col">
	
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cpu2">
					  <input type="checkbox" id="cpu2" class="mdl-checkbox__input" ng-model="cpu2check" ng-click="pctrl.updateData()" checked>
					  <span class="mdl-checkbox__label">CPU #2</span>
					</label>
		        </div>
		        <div class="mdl-cell mdl-cell--3-col">
	
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="cpu3">
					  <input type="checkbox" id="cpu3" class="mdl-checkbox__input" ng-model="cpu3check" ng-click="pctrl.updateData()" checked>
					  <span class="mdl-checkbox__label">CPU #3</span>
					</label>
		        </div>
	        </div>
	        <div class="mdl-cell mdl-cell--12-col">
				<canvas id="line" class="chart chart-line" chart-data="data"
				chart-labels="labels" chart-series="series" chart-options="options"
				chart-dataset-override="datasetOverride" chart-click="onClick"
				</canvas> 
			</div>
          </div>
          
          <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing" ng-controller="RamCtrl">
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop sideTitleMargin">
              	<h3 class="dashTitle">RAM</h3>
			  	<canvas id="pie" class="chart chart-pie"
				  chart-data="data" chart-labels="labels" chart-options="options">
				</canvas> 
				<br><br>
				<h4 class="dashTitle">Top 10 Processes</h4>
				<ol>
					<li ng-repeat="d in top">{{d}}</li>
				</ol>
				
					
            </div>
           
            <div class="demo-separator mdl-cell--1-col"></div>
            
            <!--<div class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
              <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
                <h3>View options</h3>
                <ul>
                  <li>
                    <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox1" class="mdl-checkbox__input" />
                      <span class="mdl-checkbox__label">Click per object</span>
                    </label>
                  </li>
                  <li>
                    <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox2" class="mdl-checkbox__input" />
                      <span class="mdl-checkbox__label">Views per object</span>
                    </label>
                  </li>
                  <li>
                    <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox3" class="mdl-checkbox__input" />
                      <span class="mdl-checkbox__label">Objects selected</span>
                    </label>
                  </li>
                  <li>
                    <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox4" class="mdl-checkbox__input" />
                      <span class="mdl-checkbox__label">Objects viewed</span>
                    </label>
                  </li>
                </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Change location</a>
                <div class="mdl-layout-spacer"></div>
                <i class="material-icons">location_on</i>
              </div>
            </div>-->
            
          </div>
          <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" ng-controller="NetworkCtrl">
	        <h3 class="dashTitle">NETWORK</h3>
	        	<div>
				<canvas id="line" class="chart chart-line" chart-data="data"
				chart-labels="labels" chart-series="series" chart-options="options"
				chart-dataset-override="datasetOverride" chart-click="onClick"
				</canvas> 
				</div>
				<div class="mdl-grid">
					<div class="mdl-cell--6-col"><h4 class="dashTitle">Upstream</h4><h3 style="color: #4CAF50;">{{uSpeed}} KB/s</h3></div>
					<div class="mdl-cell--6-col"><h4 class="dashTitle">Downstream</h4><h3 style="color: #f44336;">{{dSpeed}} KB/s</h3></div>

				</div>
          </div>
        </div>
        
        <div class="mdl-grid demo-content tManDiv" ng-show="screen==1">
        	<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid sideTitleMargin" ng-controller="TaskCtrl as tskCtrl">
	          <h3 class="dashTitle">TASK MANAGEMENT</h3>
			  
<ul class="demo-list-control mdl-list" ng-repeat="process in proc">
    <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons  mdl-list__item-avatar">settings</i>
{{process.name}}  |  {{process.memPerc}}% memory</span>
          <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons" ng-click="tskCtrl.delete(process.pid)">delete</i></a>

  </li>
</ul>
			 

	                       
          </div>
        </div>
        
      </main>
    </div>
 
     
    <script src="js/material.min.js"></script>
  </body>
</html>
